

#resume_cont{
    margin-left:0.5rem;
}

li.list-group-item{
    border-top: 0 none;
    border-bottom: 0 none;
    border-left:0 none;
    padding: 0.25rem;
    list-style-type: square;
}

ul.list-group{
    padding-left:1rem !important;
 
}

#experience p{
    margin-top: 1rem;
}
.table {
    width:900px;
    margin-left: 1rem;
}
